
<footer class="main-footer sticky footer-type-1">
				
	<div class="footer-inner">
				
		<!-- Add your copyright text here -->
		<div class="footer-text">
			&copy; 2015 
			<strong>City of Los Angeles</strong> | <a href="https://github.com/datala/bradley-tower">Github</a>
						
		</div>
					
					
		<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
		<div class="go-up">
					
			<a href="#" rel="go-top">
				<i class="fa-angle-up"></i>
			</a>
						
		</div>
					
	</div>
				
</footer>

	
<!-- Page Loading Overlay
<div class="page-loading-overlay">
	<div class="loader-2"></div>
</div> -->
<!-- Bottom Scripts -->
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/TweenMax.min.js"></script>
<script src="{{site.baseurl}}/js/resizeable.js"></script>
<script src="{{site.baseurl}}/js/joinable.js"></script>
<script src="{{site.baseurl}}/js/xenon-api.js"></script>
<script src="{{site.baseurl}}/js/xenon-toggles.js"></script>


<!-- Imported scripts on this page -->
<script src="{{site.baseurl}}/js/xenon-widgets.js"></script>
<script src="{{site.baseurl}}/js/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="{{site.baseurl}}/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
<script src="{{site.baseurl}}/js/toastr/toastr.min.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="{{site.baseurl}}/js/xenon-custom.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55976849-3', 'auto');
ga('send', 'pageview');

</script>