	<nav class="navbar horizontal-menu navbar-fixed-top navbar-minimal"><!-- set fixed position by adding class "navbar-fixed-top" -->
		
		<div class="navbar-inner">
		
			<!-- Navbar Brand -->
			<div class="navbar-brand">
				<a href="{{ site.baseurl }}" class="logo">
					<img src="http://datala.github.io/flushots/img/datala.png" width="80" alt="" class="hidden-xs" />
					<img src="http://datala.github.io/flushots/img/datala.png" width="80" alt="" class="visible-xs" />
				</a>

			</div>
				
			<!-- Mobile Toggles Links -->
			<div class="nav navbar-mobile">
							<div class="mobile-menu-toggle">
					<a href="#" data-toggle="mobile-menu-horizontal">
						<i class="fa-bars"></i>
					</a>
				</div>
				
			</div>
			
			<div class="navbar-mobile-clear"></div>
			
			
			
			<!-- main menu -->
			<ul class="navbar-nav">
				<li>
					<a href="{{ site.baseurl }}/MOCS">
						<i class="linecons-cog"></i>MOCS
					</a>
					<ul>
					    {% for post in site.categories.mocs %}
					      <li>
					        <a href="{{ site.baseurl }}{{ post.url }}">
								<i class="linecons-cog"></i>
								{{ post.title }}
							</a>
					      </li>
					    {% endfor %}
					</ul>
				</li>
				<li>
					<a href="{{ site.baseurl }}/MOBI">
						<i class="linecons-cog"></i>MOBI
					</a>
					<ul>
					    {% for post in site.categories.mobi %}
					      <li>
					        <a href="{{ site.baseurl }}{{ post.url }}">
								<i class="linecons-cog"></i>
								{{ post.title }}
							</a>
					      </li>
					    {% endfor %}
					</ul>
				</li>
				<li>
					<a href="{{ site.baseurl }}/MOPS">
						<i class="linecons-cog"></i>MOPS
					</a>
					<ul>
					    {% for post in site.categories.mops %}
					      <li>
					        <a href="{{ site.baseurl }}{{ post.url }}">
								<i class="linecons-cog"></i>
								{{ post.title }}
							</a>
					      </li>
					    {% endfor %}
					</ul>
				</li>
				<li>
					<a href="{{ site.baseurl }}/MOED">
						<i class="linecons-cog"></i>MOED
					</a>
					<ul>
					    {% for post in site.categories.moed %}
					      <li>
					        <a href="{{ site.baseurl }}{{ post.url }}">
								<i class="linecons-cog"></i>
								{{ post.title }}
							</a>
					      </li>
					    {% endfor %}
					</ul>
				</li>
				<li>
					<a href="#">
						<i class="linecons-cog"></i>Focus Areas
					</a>
					<ul>
					    {% for post in site.categories.focus %}
					      <li>
					        <a href="{{ site.baseurl }}{{ post.url }}">
								<i class="linecons-cog"></i>
								{{ post.title }}
							</a>
					      </li>
					    {% endfor %}
					</ul>
				</li>

			</ul>
		
					
			
			<!-- notifications and other links -->
		
		</div>
		
	</nav>