
<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-sm-12">
							
			<script type="text/javascript">
			jQuery(document).ready(function($)
			{
				if( ! $.isFunction($.fn.dxChart))
					return;
				var dataSource = [
					{month: 'June', waittime: 51320.9},
					{month: 'July', waittime: 263203.36},
					{month: 'August', waittime: 96585},
					{month: 'September', waittime: 402304.5},
					{month: 'October', waittime: 361487.45},
					{month: 'November', waittime: 126889.7},
					{month: 'December', waittime: 293050.25},
					{month: 'January', waittime: 585796},
					{month: 'February', waittime: 1513650.78},
					{month: 'March', waittime: 1114476},
					{month: 'April', waittime: 1268884},
				];
				$("#bar-7").dxChart({
					dataSource: dataSource,
					commonSeriesSettings: {
						argumentField: "month"
					},
					series: [
						{ valueField: "waittime", name: "Sq. Ft. of Turf Replaced ", color: "#7c38bc" },
					],
					argumentAxis:{
						grid:{
							visible: true
						}
					},
					tooltip:{
						enabled: true
					},
					title: "Sq. Ft. of Turf Replaced ",
					legend: {
						verticalAlignment: "bottom",
						horizontalAlignment: "center"
					},
					commonPaneSettings: {
						border:{
							visible: true,
							right: false
						}
					}
				});
			});
			</script>
			<div id="bar-7" style="height: 250px; width: 100%;"></div>
		</div>
	</div>
</div>	
</div>												
<div class="row">
<a name="datavisitors"></a>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-sm-12">
							
			<script type="text/javascript">
			jQuery(document).ready(function($)
			{
				if( ! $.isFunction($.fn.dxChart))
					return;
				var dataSource = [
					{month: 'June', waittime: 99359.8},
					{month: 'July', waittime: 489518.32},
					{month: 'August', waittime: 189535},
					{month: 'September', waittime: 918331.1},
					{month: 'October', waittime: 877858.66},
					{month: 'November', waittime: 330033.1},
					{month: 'December', waittime: 833731.75},
					{month: 'January', waittime: 1634509},
					{month: 'February', waittime: 4510961.61},
					{month: 'March', waittime: 3580279},
					{month: 'April', waittime: 4121885},
				];
				$("#bar-8").dxChart({
					dataSource: dataSource,
					commonSeriesSettings: {
						argumentField: "month"
					},
					series: [
						{ valueField: "waittime", name: "Incentives Paid for Turf Removal", color: "#7c38bc" },
					],
					argumentAxis:{
						grid:{
							visible: true
						}
					},
					tooltip:{
						enabled: true
					},
					title: "Incentives Paid for Turf Removal",
					legend: {
						verticalAlignment: "bottom",
						horizontalAlignment: "center"
					},
					commonPaneSettings: {
						border:{
							visible: true,
							right: false
						}
					}
				});
			});
			</script>
			<div id="bar-8" style="height: 250px; width: 100%;"></div>
		</div>
	</div>
</div>