
<div class="col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Job Growth: Overall Employment</h3>
			<div class="panel-options">
				<a href="#" data-toggle="panel">
					<span class="collapse-icon">&ndash;</span>
					<span class="expand-icon">+</span>
				</a>
				<a href="#" data-toggle="remove">
					&times;
				</a>
			</div>
		</div>
		<div class="panel-body">	
			<script type="text/javascript">
			jQuery(document).ready(function($)
			{
				if( ! $.isFunction($.fn.dxChart))
					return;
										
								
				var dataSource = {
					store: new DevExpress.data.CustomStore({
						load: function() {
							return $.getJSON("https://performance.lacity.org/resource/ksyv-cia6.json?$order=date%20ASC&$offset=100");
						}
					})
				}
							
				$("#bar-3").dxChart({
					dataSource: dataSource,
					commonSeriesSettings: {
						argumentField: "month_year"
					},
					series: [
						{ valueField: "ca_edd_employment_estimate", name: "CA EDD Estimates", color: "#fcd036" },
						{ valueField: "household_employment", name: "UCLA Anderson Forecast", color: "#990000" },
												
					],
					argumentAxis:{
						grid:{
							visible: true
						},
						valuetype: 'string',
												
					},
					valueAxis: { valueType: 'numeric',
				},
				tooltip:{
					enabled: true
				},
				tooltip:{
					enabled: true
				},
				title: "",
				legend: {
					verticalAlignment: "bottom",
					horizontalAlignment: "center"
				},
				commonPaneSettings: {
					border:{
						visible: true,
						right: false
					}	   
				}
			});
		});
		</script>
		<div id="bar-3" style="height: 300px; width: 100%;"></div>
	</div>
</div>
						
</div>