<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-4">
				<script type="text/javascript">
				jQuery(document).ready(function($)
				{
					if( ! $.isFunction($.fn.dxChart))
						return;
							
					var dataSource = [
						{region: "Under 25K", val: .278},
						{region: "25-75K", val: .392},
						{region: "75K-150K", val: .215},
						{region: "Over 200K", val: .069},	
					], timer;
					$("#bar-10").dxPieChart({
						dataSource: dataSource,
						title: "Household Income",
						tooltip: {
							enabled: true,
							format:"percent",
						},
						size: {
							height: 250
						},
						pointClick: function(point) {
							point.showTooltip();
							clearTimeout(timer);
							timer = setTimeout(function() { point.hideTooltip(); }, 2000);
							$("select option:contains(" + point.argument + ")").prop("selected", true);
						},
						legend: {
							visible: true,
						},
						series: [{
							type: "doughnut",
							argumentField: "region"
						}],
						palette: xenonPalette
					});
				});
				</script>
				<div id="bar-10" style="height: 300px; width: 100%;"></div>
			</div>
			<div class="col-sm-4">
				<script type="text/javascript">
				jQuery(document).ready(function($)
				{
					if( ! $.isFunction($.fn.dxChart))
						return;
							
					var dataSource = [
						{region: "Poverty", val: .34},
						{region: "Non-Poverty", val: .66},
					], timer;
					$("#bar-8").dxPieChart({
						dataSource: dataSource,
						title: "Childhood Poverty",
						tooltip: {
							enabled: true,
							format:"percent",
						},
						size: {
							height: 250
						},
						pointClick: function(point) {
							point.showTooltip();
							clearTimeout(timer);
							timer = setTimeout(function() { point.hideTooltip(); }, 2000);
							$("select option:contains(" + point.argument + ")").prop("selected", true);
						},
						legend: {
							visible: true,
						},
						series: [{
							type: "doughnut",
							argumentField: "region"
						}],
						palette: xenonPalette
					});
				});
				</script>
				<div id="bar-8" style="height: 300px; width: 100%;"></div>
			</div>
			<div class="col-sm-4">
				<script type="text/javascript">
				jQuery(document).ready(function($)
				{
					if( ! $.isFunction($.fn.dxChart))
						return;
							
					var dataSource = [
						{region: "Poverty", val: .17},
						{region: "Non-Poverty", val: .83},
					], timer;
					$("#bar-9").dxPieChart({
						dataSource: dataSource,
						title: "Elderly Poverty",
						tooltip: {
							enabled: true,
							format:"percent",
						},
						size: {
							height: 250
						},
						pointClick: function(point) {
							point.showTooltip();
							clearTimeout(timer);
							timer = setTimeout(function() { point.hideTooltip(); }, 2000);
							$("select option:contains(" + point.argument + ")").prop("selected", true);
						},
						legend: {
							visible: true,
						},
						series: [{
							type: "doughnut",
							argumentField: "region"
						}],
						palette: xenonPalette
					});
				});
				</script>
				<div id="bar-9" style="height: 300px; width: 100%;"></div>
			</div>
		</div>
	</div>
	