<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-sm-12">
			<script type="text/javascript">
			jQuery(document).ready(function($)
			{
				
  			   
				
				if( ! $.isFunction($.fn.dxChart))
					return;
				
				

				var dataSource = [
					{month: 'Jan-12', waittime: 12.58, goal: 13.1},
					{month: 'Feb-12', waittime: 12.22, goal: 12.8},
					{month: 'March-12', waittime: 11.82, goal: 12.4},
					{month: 'April-12', waittime: 11.23, goal: 11.6},
					{month: 'May-12', waittime: 11.36, goal: 11.9},
					{month: 'June-12', waittime: 11.73, goal: 12.3},
					{month: 'July-12', waittime: 12.43, goal: 13.1},
					{month: 'Aug-12', waittime: 11.8, goal: 12.4},
					{month: 'Sept-12', waittime: 11, goal: 11.4},
					{month: 'Oct-12', waittime: 11, goal: 11.5},
					{month: 'Nov-12', waittime: 10.61, goal: 11},
					{month: 'Dec-12', waittime: 10.74, goal: 11.2},
					{month: 'Jan-13', waittime: 11.45, goal: 12.1},
					{month: 'Feb-13', waittime: 10.74, goal: 11.3},
					{month: 'March-13', waittime: 10.33, goal: 11},
					{month: 'April-13', waittime: 10, goal: 10.4},
					{month: 'May-13', waittime: 10.12, goal: 10.7},
					{month: 'June-13', waittime: 10.75, goal: 11.4},
					{month: 'July-13', waittime: 11.07, goal: 11.8},
					{month: 'Aug-13', waittime: 10.5, goal: 11.2},
					{month: 'Sept-13', waittime: 9.97, goal: 10.6},
					{month: 'Oct-13', waittime: 9.87, goal: 10.6},
					{month: 'Nov-13', waittime: 9.37, goal: 10.1},
					{month: 'Dec-13', waittime: 9.03, goal: 9.7},
					{month: 'Jan-14', waittime: 9.43, goal: 9.9},
					{month: 'Feb-14', waittime: 9.17, goal: 9.8},
					{month: 'March-14', waittime: 9, goal: 9.7},
					{month: 'April-14', waittime: 8.24, goal: 8.4},
					{month: 'May-14', waittime: 8.45, goal: 8.8},
					{month: 'June-14', waittime: 8.71, goal: 9.1},
					{month: 'July-14', waittime: 9.44, goal: 9.6},
					{month: 'Aug-14', waittime: 9.1, goal: 9.4},
					{month: 'Sept-14', waittime: 8.54, goal: 8.6},
					{month: 'Oct-14', waittime: 8.46, goal: 8.7},
					{month: 'Nov-14', waittime: 8.38, goal: 8.8},
					{month: 'Dec-14', waittime: 8.01, goal: 8},
					{month: 'Jan-15', waittime: 8.66, goal: 8.6},
					{month: 'Feb-15', waittime: 8.18, goal: 8.1},
					{month: 'March-15', waittime: 7.73, goal: 7.7},
				];

				$("#bar-7").dxChart({
					dataSource: dataSource,
					commonSeriesSettings: {
						argumentField: "month"
					},
					series: [
						{ valueField: "waittime", name: "UCLA Forecast Estimate", color: "#7c38bc" },

						{ valueField: "goal", name: "CA EDD Estimate", color: "#990000" },

					],
					argumentAxis:{
						grid:{
							visible: true
						}
					},
					tooltip:{
						enabled: true
					},
					title: "Unemployment Rate Estimates",
					legend: {
						verticalAlignment: "bottom",
						horizontalAlignment: "center"
					},
					commonPaneSettings: {
						border:{
							visible: true,
							right: false
						}
					}
				});
			});
			</script>
			<div id="bar-7" style="height: 250px; width: 100%;"></div>

		</div>
	</div>
</div>