<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div class="page-container">
	
		<div class="main-content">
			
			<div class="row">
				<div class="col-sm-12"> <div class="panel panel-default"> 
					<div class="panel-heading">Mayor's Dashboard: City of Los Angeles</div> 
					<div class="panel-body"> 
						<div class="row"> 
							<div class="col-md-12"> <div class="alert alert-success"> 
								<p><strong>The Mayor's Dashboard </strong> tracks key metrics and outcomes from the City of Los Angeles. The platform is <a href="https://github.com/datala/bradley-tower">open-source and easily reusable</a>; <a href="https://docs.google.com/forms/d/1HHl99mPndrlveTCMcT2XuE-pyl1bsifjwppANvJJ8tY/viewform">contact us</a> if your city is interested in deploying it.</p>
							<p>
									Explore the LA's key performance metrics:
								<ul>
									<li><a href="../MOCS">City Services</a></li>
									<li><a href="../MOPS">Public Safety</a></li>
									<li><a href="../MOED">Economic Development</a></li>
									<li><a href="../MOBI">Budget and Innovation</a></li>
								</ul>
							</p>
							</div> 
						</div> 
					</div> 
				</div> 
			</div>
			
			<script>
			var xenonPalette = ['#68b828','#7c38bc','#0e62c7','#fcd036','#4fcdfc','#00b19d','#ff6264','#f7aa47'];
			</script>
			
			{% include footer.html %}

		</div>

	</div>

</body>

</html>
